/* vietnamese */
/* @font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src:  url(https://fonts.gstatic.com/s/inconsolata/v16/QldKNThLqRwH-OJ1UHjlKGlW5qhExfHwNJU.woff2) format('woff2');
} */
/* latin-ext */
/* @font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src:  url(https://fonts.gstatic.com/s/inconsolata/v16/QldKNThLqRwH-OJ1UHjlKGlX5qhExfHwNJU.woff2) format('woff2');
} */
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src:  url(./Inconsolata.woff2);
}